.appcenter{
    margin: auto;
    margin-top: 200px;
  }
  
  .contentright{
    float: right;
    clear: left;
  }
  
  .contentleft{
    float: left;
    clear: right;
  }
  
  .ant-list-split .ant-list-item {
    border-bottom: 0px solid #e8e8e8;
  }

  .bordercalculate{
      border: solid 1px gray;
      background: #f3f3f3;
      width: 180px;
      height: 150px;
      margin: auto;
  }

  .borderdisplay{
    border: solid 1px gray;
    width: 180px;
    height: 50px;
    margin: auto;
    background: #f3f3f3;
  }

  .borderdisplayin{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px gray;
    margin: auto;
    margin-top: 4px;
    background: #ffffff;
    text-align: right;
    padding-right: 5px;
  }

  .displaySmall{
    width: 60px;
    height: 20px;
    font-size: 12px;
    background: #a3a1a17e;
  }

  .inliner{
    display: inline;
  }