<%=message %>

<!-- ตัวสัญลักษณ์ตรงนี้
    <%- แบบนี้คือ print %>
    <% แบบนี้คือ ไม่ print ไม่เกิดอะไรขึ้น ไม่พัง แต่ไม่ print   โดยส่วนมากแล้วใช้กับพวกการโยนคำสั่งพวก if เข้ามาอะไรแบบนั้น
        เช่น <% if(message.key[0]==1){ %>
                <%- message.key[0] %>
            <% } %>   แบบนี้หมายความว่า ถ้าเท่ากับ 1 ให้ print 1 ออกมา ซึ่ง code ไม่สามารถอยู่บรรทัดเดียวกันได้ เพราะว่าเราไม่สามารถนำ if กับ print มาอยู่ในบรรทัดเดียวกันได้
    %>
-->