@import '~antd/dist/antd.css';

.center{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 15px;
}

.marbtn{
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-card-head{
  padding: 0;
  border-bottom: solid 1px #40abdd;
}

.ant-card-body{
  padding: 0;
}

hr{
  border-bottom: solid 1px #40abdd;
}

.contentTw{
    background: #ffffff;
    height: 100%;
}

.footerBar{
    height: 50px;
    background: #f0efef;
    border-top: 1px solid gray;
}

.fontContentLeft{
    font-weight: bold;
    font-size: 22px;
    /* background: transparent;
    text-align: center; */
    color: white;
    /* margin-left: auto;
    margin-right: auto; */
}

.centered1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgBlueSky{
  background: #1da1f2;
}

.formborder{
  /* border-left: rgb(218, 0, 0) solid 1px; */
  margin-left: 0;
}
.ant-card-body {
  margin-left: 0px
}

.ant-input{
  width: 255px;
  height: 60px;
  margin-right: 15px;
}

.martop{
  margin-top: 40px;
  margin-left: 140px;
}

.btntop{
  border: solid 1px #1b95e0;
  border-radius: 34px;
  color: #1b95e0;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
}

.forgotpass{
  font-size: 18px;
  color: #bdc2c5;
}

twlogocenter{
  color: #1b95e0;
}

txtCont{
  color: #1b95e0;
  font-weight: bold;
  font-size: 28px;
}