@import '~antd/dist/antd.css';

.center{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 15px;
}

.marbtn{
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-card-head{
  padding: 0;
  border-bottom: solid 1px #40abdd;
}

.ant-card-body{
  padding: 0;
}

hr{
  border-bottom: solid 1px #40abdd;
}